<html lang="en">
    <body>
        <h1>Add Song To Queue</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/add">
            {{ form.csrf_token }}
            {{ form.link.label }} {{ form.link(size=20) }}
            <input type="submit" value="Go">
        </form>
    </body>
</html>